<% include partials/header %>
<% include partials/navbar %>

<div class="container">
    <h1><%= campground.name %></h1>
    
    <div>
        <img src="<%= campground.image %>" alt="<%= campground.name %>">
    </div>  

    <p><%= campground.description %></p>
</div>


<% include partials/footer %>