.form {
    width: 30%;
    margin: 3em auto 0;
}

.form input {
    margin-bottom: 1em;
}

.form textarea {
    margin-bottom: 1em;
    resize: none;
    overflow: hidden;
}

.form button {
    margin-bottom: 1em;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.card-title {
    font-weight: 600;
}

.card-text {
    text-align: justify;
}

.thumbnail .caption-full {
    padding: 10px;
}

